.cityItem:link,
.cityItem:visited {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--2);
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.cityItem--active {
  border: 2px solid var(--color-brand--2);
  border-left: 5px solid var(--color-brand--2);
  background-color: var(--color-dark--1);
}

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
}

.date {
  font-size: 1.2rem;
}

.deleteBtn {
  background-color: var(--color-dark--1);
  border-radius: 50%;
  border: none;
  color: var(--color-light--2);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  height: 2rem;
  line-height: 1;
  transition: all 0.2s;
  width: 2rem;
}

.deleteBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}