.searchForm {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  gap: 10px;
}

.searchForm input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 7px;
  background-color: var(--color-light--2);
  color: var(--color-dark--2);
  transition: all 0.2s;
}

.searchForm input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 0 3px var(--color-brand--2);
}

.searchForm button {
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  border: none;
  border-radius: 7px;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;
}

.searchForm button:hover {
  background-color: var(--color-brand--1);
}